Repository kiyarose/SillyLittleFiles, pull requests merged in 2024-09, with the labels that each got.

#366 [ Chore ] : Update LICENSE to 2025+
  LICENSE
Labels: sillylittlefiles, Internal

#379 [ Style ] : Fix link text on filecreator & add stylesheet.
  docs/tools/directory/serverlister.html
  docs/tools/filecreator.css
  docs/tools/filecreator.html
Labels: bug, tool, style, sillylittlefiles, easy

#381 [ Style ] : Floating `'` in File Creator
  docs/tools/directory/serverlister.html
Labels: bug, enhancement, tool, style, formatting, dependant, sillylittlefiles, easy

#396 [ Style ] :Remove warning text from /d/index
  docs/discussions/index.html
  docs/index.html
Labels: style, formatting, sillylittlefiles
